
/*accessibility styles*/
.high-contrast {
    background-color: black !important; /* רקע שחור */
    color: yellow !important; /* טקסט צהוב */
}
.high-contrast a {
    color: cyan !important; /* קישורים בצבע תכלת */
    font-weight: bold;
    text-decoration: underline;
}
.high-contrast button {
    background-color: yellow !important;
    color: black !important;
    border: 2px solid black;
}
.high-contrast input, 
.high-contrast textarea {
    background-color: black !important;
    color: yellow !important;
    border: 2px solid yellow;
}
/* עיצוב כפתור הנגישות */
#accessibility-button {
    position: fixed !important;  /* מבטיח שהכפתור יישאר צף */
    bottom: 50px !important; /* מרחק מהתחתית */
    left: 20px !important;  /* מרחק מהצד */
    width: 50px;
    height: 50px;
    background: transparent;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 50%;
    font-size: 50px;
    border: none;
    cursor: pointer;
    z-index: 9999 !important; /* וידוא שהכפתור יהיה מעל כל האלמנטים */
    
}
#accessibility-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}
#accessibility-toggle {
    position: fixed;
    bottom: 90px;   /* או מה שאתה רוצה */
    left: 20px;
    z-index: 9999;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#accessibility-toggle img {
    height: auto;
    width: 55px;
    height: 55px;
}

/* תפריט נגישות - מוסתר כברירת מחדל */
#accessibility-menu {
    position: fixed;
    bottom: 80px;
    left: 70px;
    background: rgba(216, 215, 196, 0.388);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; /* מוסתר כברירת מחדל */
    flex-direction: column;
    gap: 10px;
    z-index: 999;
    width: 200px;
}
/* כפתורי התפריט */
#accessibility-menu button {
    background: #d7ceb6cf;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    color: white;
    font-weight: 400;
}
#accessibility-menu button:hover {
    background: #ddd;
}
/* כפתור נגישות */
#accessibility-button {
    position: fixed;
    bottom: 50px;
    left: 20px;
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 9999;
}
/* מצבי נגישות */
.high-contrast {
    background-color: black !important;
    color: yellow !important;
}
.high-contrast a {
    color: cyan !important;
    font-weight: bold;
    text-decoration: underline;
}
.bold-text {
    font-weight: bold;
}
.monochrome-mode main, .monochrome-mode section, .monochrome-mode footer {
    filter: grayscale(100%);
}
.disable-animations * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
}





/* WhatsApp Floating Button Styles */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 120px;
    left: 20px;
    background-color: #ffffff00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 9999;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.whatsapp-float img {
    width: 35px;
    height: 35px;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}






/* language toggle(HE/EN) */
#language-toggle-en,
#language-toggle-he,
.language-separator {
    font-size: 12px;
    background-color: transparent;
    border: 2px solid transparent;
    color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    transition: 0.3s ease-in-out;
    position: relative;
    right: -10px;
    top: 10px;
    text-align: center;
}

/* מובייל */
@media (max-width: 994px) {
    #language-toggle-en,
    #language-toggle-he,
    .language-separator {
        font-size: 15px;
        padding: 5px 10px;
    }
}

/* מצב focus */
#language-toggle-en:focus,
#language-toggle-he:focus {
    box-shadow: none !important;
    background-color: transparent !important;
}

/* hover */
#language-toggle-en:hover,
#language-toggle-he:hover {
    background-color: #dadada;
    color: #000 !important;
}

/* active */
#language-toggle-en:active,
#language-toggle-he:active {
    background-color: rgba(128, 128, 128, 0.3) !important;
    transition: background-color 0.2s ease-in-out !important;
}





/* Footer Styles */
.site-footer {
    position: relative; /* חשוב!! */
    background-image: url("/images/logo/collections_back.png");
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid #e1e1e1;
}

/* Overlay */
.site-footer::before {
    content: ""; /* חובה */
    position: absolute;
    inset: 0; /* מכסה את כל הפוטר */
    background-color: rgba(181, 179, 167, 0.194);
    z-index: 1; /* מעל התמונה */
}

/* התוכן של הפוטר שלא ייכנס מתחת לאוברליי */
.site-footer * {
    position: relative;
    z-index: 2;
}


.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links a {
    color: #ffffffab;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #000;
    text-decoration: underline;
}

.footer-separator {
    color: #ffffffab;
}

.footer-credit {
    margin-top: 5px;
    font-size: 13px;
    line-height: 1.5;
    color: #ffffffab;
}






/* PreLoader*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease-in-out, transform 0.8s ease-in-out;
}
/* הוספת שכבה כהה למניעת בהירות גבוהה מדי */
#preloader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(199 186 177 / 61%); /* שכבה כהה עדינה */
    z-index: 100000;
}

/* עיצוב הלוגו */
#preloader img {
    width: 20% ; /* גודל הלוגו */
    height: auto;
    animation: fadeIn 1s ease-in-out;
}
@media (min-width: 994px) {
    #preloader img {
        width: 20% !important; /* גודל הלוגו */
        height: auto;

    }
}

/* אנימציה ללוגו */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}

/* כשהדף נטען, נגרום לו להיעלם */
.preloader-hidden {
    opacity: 0;
    transform: translateY(-50px);
    pointer-events: none;
}
/* עיצוב הלוגו עם אפקט טשטוש */
#preloader img {
    width:45%; /* גודל הלוגו */
    height: auto;
    filter: blur(10px); /* מתחיל עם טשטוש */
    opacity: 0;
    animation: fadeInBlur 1s ease-in-out forwards;
}
@media (max-width: 994px) {
    #preloader img {
        width: 50%; /* גודל הלוגו */
        height: auto;

    }
}

/* אנימציה להופעת הלוגו והסרת הטשטוש */
@keyframes fadeInBlur {
    0% {
        opacity: 0;
        filter: blur(15px);
        transform: scale(0.8);
    }
    50% {
        opacity: 0.5;
        filter: blur(7px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }
}







/* הסרת הניווט וכפתור ההמבורגר במסכים גדולים */
@media (min-width: 994px) {
    .menu-toggle, .mobile-nav {
        display: none !important;
    }
}




/* עיצוב התפריט המרכזי */
.navbar-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-item {
    font-size: 20px;
    margin: 0 10px; /* ריווח בין הכפתורים */
}

.nav-link {
    color: #ffffff !important;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    margin-left: 15px;
}

.nav-link:hover {
    color: #9a9595 !important; /* שינוי צבע בעת מעבר */
    opacity: 1.4;

}


/* לוודא שהתמונות נשמרות עם רקע שקוף */
.social-icon img {
    display: block;
    background: none;
}


/* התאמה למסכים קטנים */
@media (max-width: 994px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }


}
/* תפריט צד */
.mobile-nav {
    display: grid !important;
    position: fixed;
    top: 0;
    right: -250px; /* מוסתר כברירת מחדל */
    width: 180px;
    height: 150vh;
    background: rgb(199 186 177 / 61%);
    backdrop-filter: blur(10px);
    transition: right 0.4s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    opacity: 0.95;
}

/* כשהתפריט פתוח */
.mobile-nav.open {
    right: 0;
}



/* עיצוב הקישורים בתפריט הצדדי */
.mobile-nav ul {
    list-style: none;
    text-align: center;
    margin-top: 30px;
}

.mobile-nav ul li {

    border-bottom: 1px solid rgb(255, 255, 255);
    padding-top: 20%;
}

.mobile-nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px !important;
    transition: color 0.3s;
}

.mobile-nav ul li a:hover {
    color: #464242;
    opacity: 1.4;
}

/* התאמה למסכים קטנים - הסתרת הניווט הראשי */
@media (max-width: 994px) {
    .navbar-nav {
        display: none !important;
    }
}
.social-icon {
    width: 20px !important;  /* רוחב 15 פיקסלים */
    height: 20px !important; /* גובה 15 פיקסלים */
}
/* התאמה למסכים קטנים בלבד */




.navbar-logo {
    width: 50px; /* גודל הלוגו */
    height: auto;
    margin-right: 10px;
}




/* מחלקת קונטיינר חדשה לאייקונים ולכפתור */
.navbar-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    position: absolute;
    top: 0;
    left: 0;
}

/* מיקוד האייקונים לחלק השמאלי */
.social-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 0;
    left: 20px; /* קרוב לקצה השמאלי */
}
#sidelogo{
    width: 60px !important;
    height: 60px !important;
    margin-top: 5%;
    padding-right:20px ;
    padding-left:20px ;

}
#sidelogo img{
    width: 60px !important;
    height: 60px !important;
}

@media(max-width: 994px){
    #sidelogo{
        display: none;
    }
    .social-icons {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        top: 10px;
        left: 0px; /* קרוב לקצה השמאלי */

    }
    .social-icon {
        width: 20px !important;  /* רוחב 15 פיקסלים */
        height: 20px !important; /* גובה 15 פיקסלים */
    }

}

/* במסכים קטנים - הניווט יוסתר בגלילה */
@media (max-width: 994px) {
    .navbar {
        position: absolute; /* הופך אותו לסטטי בגלילה */
        top: 0;
        width: 100%;
    }
}


.navbar-nav{
    margin-top:30px;
}
/* ברירת מחדל - הניווט יהיה קבוע במסכים גדולים */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(19, 14, 14, 0);
    border-radius: 12px;
    transition: top 0.3s ease-in-out;
    z-index: 1000;
}

/* במסכים קטנים - הסרת הקביעות של הניווט */
@media (max-width: 994px) {
    .navbar {
        margin-bottom: -200px;
        position: relative !important; /* הניווט לא יהיה קבוע */
    }

    /* כפתור התפריט יהיה קבוע במסך */
    .menu-toggle {
        position: fixed;
        top: 40px !important;
        right: 10px !important;
        font-size: 50px !important;
        background: none;
        border: none;
        cursor: pointer;
        color: white;
        z-index: 1010;
        padding: 0;
    }
}
.navbar-logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    z-index: 1031;

}
.navbar-logo {
    height: 120px; /* גובה גדול יותר */
    width: auto; /* רוחב משתנה */
}



@media (max-width: 994px) {
    .navbar-logo-container {
        left: 50%;
        transform: translateX(-50%);
        top: 5px;
    }

    .navbar-logo {
        height: 100px; /* גובה גדול יותר */
        width: auto; /* רוחב משתנה */
    }
}

/* עיצוב תפריט הצד במסכים קטנים */
@media (max-width: 994px) {
    .mobile-nav ul {
        margin:auto;
    }
    .mobile-nav ul li a {
        padding: 8px 10px; /* מקטין ריווח */
    }

    /* אם הכפתורים עדיין גדולים מדי, ניתן להוריד עוד את הערכים */
    .mobile-nav ul {
        padding: 10px 0; /* ריווח פנימי קטן יותר */
        margin-top: 80px !important;
        display: grid !important;
    }

    .mobile-nav ul li {
        margin: 10px 0; /* מקטין את הריווח בין הפריטים */
        margin-bottom: 15%;
        
    }

}





/* עיצוב ברירת מחדל של הניווט */
.navbar {
    position: fixed;
    top: 50px; /* בהתחלה, הוא ממוקם אחרי הלוגו */
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0);
    transition: top 0.3s ease-in-out, background 0.3s ease-in-out;
}

/* כשהמשתמש גולל – הניווט עולה לחלק העליון */
.navbar.scrolled {
    top: -120px; /* עכשיו הניווט יהיה בדיוק למעלה */
    background: rgba(0, 0, 0, 0.249); /* מחזק את הרקע */
}

/* אנימציה להעלמת הלוגו */
.navbar-logo {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* כשהמשתמש גולל – הלוגו נעלם */
.navbar.scrolled .navbar-logo {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none; /* מונע לחיצות על הלוגו כשהוא מוסתר */
}